@inherits LayoutComponentBase

<div class="page-container">
    <main class="content">
        @Body
    </main>
    <footer class="footer">
        &copy; Glaucio Alexandre 2024
    </footer>
</div>

@code {

}
