@page "/"
@rendermode InteractiveServer
@layout LandingPageLayout

<PageTitle>Recipe AI - Craft your next meal</PageTitle>

<div class="recipe-ai">
    <nav class="navbar">
        <a href="https://glaucio-alexandre-portfolio.netlify.app/" target="_blank">About</a>
    </nav>
    <main class="landingPage">
        <div class="home-container">
            <div class="logo-container">
                <img src="img/RecipeAILogo.png" alt="Logo" class="logo" />
            </div>
            <a href="/createmeal" class="btn btn-danger btn-lg">Get Started</a>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; Glaucio Alexandre 2024</p>
    </footer>
</div>
