@using System.Text.Json
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer
@page "/mealIdeas"
@using System.Text.Json.Serialization
@using RecipeAI.Data




@if (!loaded || ideas is null)
{
    <div class="container">
        <h3>Loading...</h3>
    </div>
}
else
{ 
    <div class="container">
        <h3 class="mt-5">Pick a Choice from Generated Meals</h3>
        <div class="list-group mt-5 mb-5">
            @foreach (var idea in ideas)
            {
                <button class="list-group-item list-group-item-action list-group-item-danger p-2">
                    <div class="d-flex w-100 justify-content-sm-between">
                        <h2 class="mb-1 fw-bold">@idea.Title</h2>
                    </div>
                    <p class="mb-1">@idea.Description</p>
                </button>
            }
        </div>
    </div>
}

@code {
    private List<Idea> ideas = new List<Idea>();
    private bool loaded;

    protected override async Task OnInitializedAsync()
    {
        // Sample data for testing purposes
        ideas = SampleData.GetRecipeIdeas();

        loaded = true;
        await Task.Delay(100); // Simulate slight delay for testing

        StateHasChanged();
    }

   
}
